#gallery {
    .gallery {
        background-color: var(--color-span);
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        div {
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 300px;
                    width: 100%;
                    position: relative;
                    z-index: 2;
                }
                .fa-solid {
                    display: none;
                    position: absolute;
                    z-index: 5;
                    color: rgb(253, 253, 253);
                    align-items: center;
                }
            }
        }
    }
 
}
@media (min-width:800px) {
    #gallery {
        .gallery {
            display: flex;
            flex-direction: row;
            gap: none;
        }
        .gallery  {
            div {
                div:hover {
                    .fa-solid {
                        display: block;
                    }
                    img {
                        opacity: 0.8;
                        transition: 1s;
                    }
                }
    
            }
    
        }

    
    }
  
    

}
